# Arquivos gerados pelo Qt Creator
*.pro.user
*.qbs.user
*.qmlproject.user
*.cmake

# Arquivos de compilação e execução
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# Arquivos de projeto do Qt Creator
/.qmake.cache
/.qmake.stash
/.cmake/

# Arquivos de depuração do Qt Creator
/.qmake.cache
/.qmake.stash
/.cmake/

# Arquivos temporários
/.qmake.cache
/.qmake.stash
/.cmake/
